@using LessonFlow.Components.Pages
@using LessonFlow.Components.WeekPlanners
@using LessonFlow.Domain.Enums
@using LessonFlow.Domain.PlannerTemplates
@using LessonFlow.Shared.Interfaces

<div class="grid grid-rows-subgrid grid-cols-subgrid row-span-full @(IsCurrentWeekday() ? "border border-gray-400" : "")"
     style="grid-column:@Column.Col">

    <div class="row-start-1 border border-gray-100 flex flex-col justify-center items-center @(IsCurrentWeekday() ? "border-gray-400 bg-gray-400" : "")">
        <p class="font-bold">
            @DayOfWeek
        </p>
        <p>
            @Date.ToString("MMM d")
        </p>
    </div>

    <div class="row-start-2 flex justify-center items-center border border-gray-100">
        <p>Before School</p>
    </div>

    @foreach (var cell in Column.Cells)
    {
        if (cell.Period.PeriodType == PeriodType.Break)
        {
            <div class="border border-gray-100 text-center"
                 style="grid-column-start:@Column.Col; grid-row-start:@cell.RowSpans[0].Start">
                <div class="w-full h-full p-1 flex justify-center items-center">
                    @if (WeekPlanner.EditingBreaks)
                    {
                        <input id=@($"break-duty-{Column.Col}-{cell.PeriodNumber}") @bind="@(((BreakPeriod)cell.Period).BreakDuty)"
                               class="h-full box-border border-2 focus:ring-0 border-gray-100 bg-white rounded-lg w-full text-center hover:outline hover:outline-gray-500 hover:-outline-offset-1"
                               placeholder="Duty name" />
                    }
                    else
                    {
                        <p class="h-full w-full flex items-center justify-center font-semibold">
                            @((BreakPeriod)cell.Period).Name
                        </p>
                    }
                </div>
            </div>
        }
        else
        {
            <CascadingValue Value="this">
                @foreach (var span in cell.RowSpans)
                {
                    <WeekPlannerCell Column="Column" Cell="cell" RowSpan="span" />
                }
            </CascadingValue>
        }
    }

    <div class="row-start-[-1] border border-gray-100 flex justify-center items-center">
        <p>After School</p>
    </div>
</div>

@code {
    [CascadingParameter] public WeekPlannerPage WeekPlanner { get; set; } = default!;
    [Parameter] public GridColumn Column { get; set; } = default!;
    [Parameter] public DayOfWeek DayOfWeek { get; set; }
    [Parameter] public DateOnly Date { get; set; }

    bool IsCurrentWeekday() => DateTime.Now.DayOfWeek == DayOfWeek;
}
